<div class="container">
    <div ncy-breadcrumb></div>

   <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Offline data</h3>
        </div>
        <div class="panel-body">

            <div ng-if="vm.hasLocalData">


                <ul class="list-group">

                <li class="list-group-item card" ng-repeat="snap in vm.localData">
                    <span class="card-title">{{snap.fileName}}<br/></span>
                    <span class="card-attribute">{{snap.fileDate | date:'medium'}}<br/></span>
                    <span ng-if="snap.locationLat && snap.locationLong" class="card-attribute">{{snap.locationLat}}, {{snap.locationLong}}<br/></span>

                    <div class="btn-group">
                        <a type="button" class="btn btn-sm btn-default" ng-click="vm.saveLocalDataItem(snap, $index)">Save this <i class="fa fa-save"></i></a>
                        <a type="button" class="btn btn-sm btn-default" ng-click="vm.removeLocalDataItem($index)">Remove this <i class="fa fa-trash-o"></i></a>
                    </div>
                </li>

                </ul>

                <div class="btn-group btn-group-justified">
                    <a type="button" class="btn btn-md btn-success" ng-click="vm.saveLocalData()">Save all <i class="fa fa-save"></i></a>
                    <a type="button" class="btn btn-md btn-danger" ng-click="vm.removeLocalData()">Clear all <i class="fa fa-trash-o"></i></a>
                </div>

            </div>

            <div ng-if="!vm.hasLocalData">
                No offline data
            </div>

        </div>
    </div>
</div>




