<div class="container">
    <div ncy-breadcrumb></div>

   <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Offline data</h3>
        </div>
        <div class="panel-body">

            <div ng-if="vm.hasLocalData">


                <ul class="list-group">

                <li class="list-group-item card" ng-repeat="snap in vm.localData">

                    <div class="row">
                        <div class="col-xs-8">
                    <h3 class="list-group-item-heading">{{snap.fileName}}</h3>
                            <span class="list-group-item-text">{{snap.fileDate | date:'medium'}}<br/></span>
                            <span ng-if="snap.locationLat && snap.locationLong" class="list-group-item-text">{{snap.locationLat}}, {{snap.locationLong}}<br/></span>
                        </div>
                        <div class="col-xs-4">
                    <div class="btn-group-vertical pull-right">
                        <a type="button" class="btn btn-sm btn-default" ng-click="vm.removeLocalDataItem($index)"><i class="fa fa-trash-o"></i> Remove this</a>
                        <a type="button" class="btn btn-sm btn-default" ng-click="vm.saveLocalDataItem(snap, $index)"><i class="fa fa-save"></i> Save this</a>
                    </div>

                        </div>
                    </div>


                </li>

                </ul>

                <div class="btn-group btn-group-justified">
                    <a type="button" class="btn btn-md btn-success" ng-click="vm.saveLocalData()"><i class="fa fa-save"></i> Save all</a>
                    <a type="button" class="btn btn-md btn-danger" ng-click="vm.removeLocalData()"><i class="fa fa-trash-o"></i> Clear all</a>
                </div>

            </div>

            <div ng-if="!vm.hasLocalData">
                No offline data
            </div>

        </div>
    </div>
</div>




