.angular-google-map-container {
  height: 200px;
}

.has-error label {
  color: crimson !important;
}

.has-error input {
  color: crimson !important;
  border-color: crimson !important;
}

.form-msg {
  display: none;
  height: 0;
  font-size: 0.8em;
  color: #333;
}

.has-error .form-msg {
  display: block;
}

rzslider .rz-pointer {
    background-color: #337ab7;
}
