<div>

    <div class="row margin-bottom sub-header">
        <div class="col-xs-12 sub-header-col">
            <div ncy-breadcrumb></div>

            <h1>Dashboard</h1>
                <button type="button" class="button btn-info" ng-click="vm.info()">Info</button>
                <button type="button" class="button btn-success" ng-click="vm.success()"><i class="fa fa-check"></i> Success</button>
                <button type="button" class="button btn-warning" ng-click="vm.warning()"><i class="fa fa-arrow-circle-left"></i> Warning</button>
                <button type="button" class="button btn-danger" ng-click="vm.error()"><i class="fa fa-ban"></i> Error</button>

        </div>
    </div>
</div>
