<div class="container">
    <div ncy-breadcrumb></div>

   <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Log</h3>
        </div>
        <div class="panel-body">

            <form name="logForm" novalidate role="form">
            <fieldset>

                <div class="form-group" ng-class="{ 'has-error' : logForm.filePattern.$invalid && !logForm.filePattern.$pristine }">
                    <label for="filePattern">Filename pattern? *</label>
                    <input class="form-control" type="text" name="filePattern" id="filePattern" ng-model="vm.selectedFilePattern" required />
                    <span class="form-msg">This is a required field</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : logForm.fileNumber.$invalid && !logForm.fileNumber.$pristine }">
                    <label for="fileNumber">Starting number? *</label>
                    <input class="form-control" type="number" name="fileNumber" id="fileNumber" ng-model="vm.selectedFileNumber" required />
                    <span class="form-msg">This is a required field</span>
                </div>

                <div class="form-group">
                    <div class="btn-group btn-group-justified">
                        <a type="button" class="btn btn-default" ng-if="!vm.selectedLocationLat" ng-click="vm.getLocation(); $event.stopPropagation();"><i class="fa fa-map-marker"></i> Get my location</a>
                    </div>

                    <div ng-if="vm.selectedLocationLat">
                        <div class="well">
                            <label for="locationLat">Location found (within {{vm.accuracy}} meters):</label>
                            Lattitude: {{vm.selectedLocationLat}}, Longitude {{vm.selectedLocationLong}}<br/>

                            <input type="hidden" name="locationLat" id="locationLat" ng-model="vm.selectedLocationLat" />
                            <input type="hidden" name="locationongt" id="locationLong" ng-model="vm.selectedLocationLong" />

                            <div ng-if="vm.map">
                            <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" options="vm.map.options">
                                <ui-gmap-marker coords="vm.marker.coords" options="vm.marker.options" events="vm.marker.events" idkey="vm.marker.id"></ui-gmap-marker>
                            </ui-gmap-google-map>
                            Marker may be dragged to refine position.
                            </div>
                        </div>
                    </div>

                    <div class="btn-group btn-group-justified">
                        <a type="button" class="btn btn-warning" ng-if="vm.selectedLocationLat" ng-click="vm.removeLocation(); $event.stopPropagation();"><i class="fa fa-times"></i> Remove my location</a>
                    </div>
                </div>

                <div class="form-group">
                    <label for="apertureSize">Which aperture (ƒ)?</label>
                    <rzslider
                         rz-slider-model="vm.selectedAperture.value"
                         rz-slider-options="vm.selectedAperture.options"></rzslider>
                </div>

                <div class="form-group">
                    <label for="focalDistance">Which focal distance (m)?</label>
                    <rzslider
                         rz-slider-model="vm.selectedFocalDistance.value"
                         rz-slider-options="vm.selectedFocalDistance.options"></rzslider>

                </div>

                <div class="form-group">
                    <label for="snapNotes">Field notes</label>
                    <textarea class="form-control" name="snapNotes" id="snapNotes" ng-model="vm.snapNotes" rows="{{rows}}" ng-focus="rows=10" ng-blur="rows=1"></textarea>
                </div>

            </fieldset>

            <p ng-if="logForm.$invalid">* means required</p>

            <div class="btn-group btn-group-justified">
                <a type="button" class="btn btn-lg btn-primary" ng-disabled="logForm.$invalid" ng-click="vm.snap()"><i class="fa fa-camera"></i> Snap! <span ng-hide="vm.NumberOfSaved === 0" class="badge">{{vm.NumberOfSaved}}</span></a>
            </div>

            <br/>

            <div class="btn-group btn-group-justified" ng-show="vm.NumberOfSaved > 0 || vm.itemsInLocalStorage > 0">
                <a type="button" class="btn btn-md btn-default" ng-disabled="vm.NumberOfSaved === 0" ng-click="vm.reset()"><i class="fa fa-clone"></i> New series</a>
                <a type="button" class="btn btn-md btn-default" ng-disabled="vm.itemsInLocalStorage === 0" ng-click="vm.localStorage()"><i class="fa fa-inbox"></i> Local data <span ng-hide="vm.itemsInLocalStorage === 0" class="badge">{{vm.itemsInLocalStorage}}</span></a>
            </div>

            </form>
            </div>

    </div>

</div>

