<div>

    <div class="row margin-bottom sub-header">
        <div class="col-xs-12 sub-header-col">
            <div ncy-breadcrumb></div>

            <h1>Log</h1>

                <div class="row">
                <accordion close-others="true">
                    <accordion-group is-open="vm.cameraOpen">
                        <accordion-heading><i class="fa fa-camera fa-fw"></i> Camera</accordion-heading>
                        <fieldset>
                            <div>
                                <label for="cameraName">Which camera?</label>
                                <select name="cameraName" id="cameraName" ng-model="vm.selectedCamera" required ng-options="camera.value as camera.text for camera in vm.availableCameras"></select>
                            </div>
                            <div>
                                <label for="lensName">Which lens</label>
                                <select name="lensName" id="lensName" ng-model="vm.selectedLens" required ng-options="lens.value as lens.text for lens in vm.availableLenses | filter:{ compatibleCameras: vm.selectedCamera }:strict"></select>
                            </div>
                            <div>
                                <label for="filePattern">Filename pattern?</label>
                                <input type="text" name="filePattern" id="filePattern" ng-model="vm.selectedFilePattern" required />
                            </div>
                        </fieldset>
                    </accordion-group>
                    <accordion-group is-open="vm.seriesOpen">
                        <accordion-heading><i class="fa fa-picture-o fa-fw"></i> Series</accordion-heading>
                        <fieldset>
                            <div>
                                <label for="seriesName">Series name?</label>
                                <input type="text" name="seriesName" id="seriesName" ng-model="vm.selectedSeriesName" required />
                            </div>
                            <div>
                                <label for="fileNumber">Starting number?</label>
                                <input type="number" name="fileNumber" id="fileNumber" ng-model="vm.selectedFileNumber" required />
                            </div>
                            <div ng-show="false">
                                <label for="location">Location (GPS required)?</label>
                                <input type="text" name="location" id="location" ng-model="vm.selectedLocation" />
                            </div>
                        </fieldset>
                    </accordion-group>
                    <accordion-group is-open="vm.settingsOpen">
                        <accordion-heading><i class="fa fa-cogs fa-fw"></i> Settings</accordion-heading>
                        <fieldset>
                            <div>
                                <label for="focalLength">Which focal length (mm)?</label>
                                <input type="number" name="focalLength" id="focalLength" ng-model="vm.selectedFocalLength" required />
                            </div>

                            <div>
                                <label for="apertureSize">Which aperture (f)?</label>
                                <select name="apertureSize" id="apertureSize" ng-model="vm.selectedAperture" required ng-options="aperture.value as aperture.text for aperture in vm.availableApertures"></select>
                            </div>

                            <div>
                                <label for="focalDistance">Which focal distance (m)?</label>
                                <input type="number" name="focalDistance" id="focalDistance" ng-model="vm.selectedFocalDistance" required />
                            </div>

                        </fieldset>
                    </accordion-group>
                </accordion>
            </div>

            <div class="row">
                <div class="small-12 large-6 columns centered">
                    <button type="button" class="button round btn-info expand" ng-click="vm.snap()">Snap! <span ng-hide="vm.NumberOfSaved === 0" class="label alert round">{{vm.NumberOfSaved}}</span></button>

                </div>
                <div class="small-12 large-6 columns centered text-center">
                    <button type="button" class="button round btn-info expand" ng-click="vm.reset()">New series</button>
                </div>
            </div>


        </div>
    </div>
</div>
